<div class="event-photo buffer-both">
  <%= link_to image_tag(photo.photo.thumb.url), photo.photo.url %>
  <br>
  <small>Добавил:</small>  <br>
  <small><%= render partial: 'users/user', object: photo.user %></small> 
</div>
