<% image_title = "#{t('.added')} #{render partial: 'users/user', object: photo.user}" %>

<% 
  delete_icon = 
    link_to(
      content_tag('div', t('.del_photo')), 
      event_photo_path(photo.event, photo), 
      method: :delete, 
      data: {confirm: t('app.sure?')},
    )
%>

<% image_title << delete_icon if current_user_can_edit?(photo) %>

<%= 
  link_to(
    image_tag(photo.photo.thumb.url), 
    photo.photo.url, 
    data: { 
      lightbox: "lightbox", 
      title: image_title, 
    },
    class: 'margin-photo',
  ) 
%>
</span>

<script>
  window.lightbox.option({
    'albumLabel': "<%=t('.lightbox_photo')%> %1 <%=t('.lightbox_of') %> %2"
  });
</script>
